.cont {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60vh;
  background-image: -webkit-linear-gradient(right top, #9CECFB 0%, #65C7F7 100%);
  background-image: linear-gradient(to left bottom, #9CECFB 0%, #65C7F7 100%);
  overflow: hidden;
}
